<mat-progress-bar [mode]="mode"></mat-progress-bar>

<div>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
  <chips-autocomplete-component [allItems]=allItems [placeholder]=placeholder></chips-autocomplete-component>
</div>

<router-outlet></router-outlet>
