table {
  width: 100%;
}

.result, .overlay {
  height: calc(100vh - 20rem);
  overflow: auto;
	width: 100%;
}

.overlay {
  background: transparent;
  background-color: transparent;
  top: 0;
  z-index: 1;
}

.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

h1 {
  color: #3949AB;
  font-size: 1rem;
}

h3 {
  color: #78909C;
  font-size: .8rem;
}

h3 > span, h5 {
  color: #B0BEC5;
  font-size: .8rem
}

h1, h3, h5 {
  margin: 0;
  padding: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mat-cell {
  line-height: 1.5;
  padding: 1rem;
}

.mat-row:hover, .selected {
  background: #EEEEEE;
  cursor: pointer;
}

.mat-row:hover .mat-cell, .selected .mat-cell {
  border-left: .3rem solid #304FFE;
}

mat-sidenav {
  /*height: calc(100vh - 110px);*/
  border: .1rem solid #e0e0e0;
  width: calc(100% / 2);
}

.mat-drawer-inner-container {
  height: calc(100vh - 110px);
}

.mobile-sidenav {
  width: 100%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.mat-raised-button {
  border-radius: 0;
  width: 100%;
}

::ng-deep .mat-paginator-page-size-label {
  display: none;
}

::ng-deep .mat-button-toggle-checked.asc .mat-button-toggle-button:after,
::ng-deep .mat-button-toggle-checked.desc .mat-button-toggle-button:after {
  border: solid #007bff;
  border-width: 0 .2rem .2rem 0;
  content: '';
  padding: .2rem;
  position: absolute;
  right: 1rem;
}

::ng-deep .mat-button-toggle-checked.asc .mat-button-toggle-button:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: calc(50% - .2rem);
}

::ng-deep .mat-button-toggle-checked.desc .mat-button-toggle-button:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: calc(50% - .5rem);
}

.form {
  padding: .5rem;
}

.full-width {
  width: 100%;
}

.company-name:hover {
  text-decoration: underline;
  cursor: pointer;
}